                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Add New Site Group</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <div class="col-lg-8">
                        <form method="post" class="form-horizontal">
                            <fieldset>
                                <legend>Edit Site Group {{ form.name.value|default_if_none:"" }}</legend>
                                {% if form.errors %}
                                    <ul id="messagelist">
                                        <p>The following errors were found:</p>
                                        {% for error in form.errors %}
                                        <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_name" class="col-lg-2 control-label">Group Name:</label>
                                    <div class="col-lg-10">
                                        <input value="{{ form.name.value|default_if_none:""  }}" type="text" name="name" class="form-control" id="id_name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="id_interval_hours" class="col-lg-2 control-label">Interval (min. 24):</label> {% if form.interval_hours.errors %} <span class="error">{{ form.interval_hours.errors|join:", " }}</span>{% endif %}
                                    <div class="col-lg-10">
                                        <input value="{{ form.interval_hours.value|default_if_none:"" }}" type="text" name="interval_hours" class="form-control" id="id_interval_hours" placeholder="Check Interval (hours, min. 24)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="id_alert" class="col-lg-2 control-label">
                                            <input type="checkbox" name="alert" id="id_alert" {% if form.alert %}checked{% endif %} > Alert me by mail when the rating for sites in this group changes
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <a href="/profile/" class="btn btn-default">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    {% endblock content %}
