                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Editing Profile for {{user}}</title>
                    {% endblock title %}
                    
                    {% block content %}
                    {% if form.errors %}
                        <ul id="messagelist">
                            <p>The following errors were found:</p>
                            {% for error in form.errors %}
                            <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form method="post" class="form-horizontal">
                        <fieldset>
                            <legend>Edit sslscout profile for {{user}}</legend>
                            {% csrf_token %}	
                            <div class="form-group">
                                <label for="id_first_name" class="col-lg-2 control-label">First Name(s):</label> {% if form.first_name.errors %} <span class="error">{{ form.first_name.errors|join:", " }}</span>{% endif %}
                                <div class="col-lg-10">
                                    <input type="text" name="first_name" class="form-control" id="id_first_name" placeholder="First Name(s)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="id_last_name" class="col-lg-2 control-label">Last Name:</label> {% if form.last_name.errors %} <span class="error">{{ form.last_name.errors|join:", " }}</span>{% endif %}
                                <div class="col-lg-10">
                                    <input type="text" name="last_name" class="form-control" id="id_last_name" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="id_country" class="col-lg-2 control-label">Country:</label> {% if form.country.errors %} <span class="error">{{ form.country.errors|join:", " }}</span>{% endif %}
                                <div class="col-lg-10">
                                    <input type="text" name="country" class="form-control" id="id_country" placeholder="Country">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <a href="/profile/" class="btn btn-default">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <p>
                        <a href="/accounts/password/change/">Change password</a> 
                    </p>                    
                    {% endblock content %}
