                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>sslscout</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <div class="jumbotron">
                        <h1>sslscout</h1>
                        <p>The complexity of configuring an ssl webserver correctly has lead to the creation of different online ssl configuration checking websites that help administrators get it the configuration right. Using sslscout administrators can configure periodic checks of their websites using the various online ssl-configuration checking services, and get email notifications when the rating changes.</p>
                        <p><a class="btn btn-primary btn-lg" href="/accounts/register/">Create account</a></p>
                    </div>
                    {% endblock content %}
