                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>sslscout</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <div class="jumbotron">
                        <h1>sslscout</h1>
                        <p>The complexity of configuring an SSL webserver correctly has lead to the creation of different online SSL configuration checking websites that help administrators get the configuration right.</p>
                        <p>The problem with this approach is that few administrators remember to re-check their configuration periodically. While best practices concerning SSL configuration change all the time, the actual configuration of webservers is often static for years.</p>
                        <p>With sslscout administrators can configure automatic periodic checks of their websites with the different SSL-configuration checking services, and get email notifications when the site rating changes.</p>
                        <p><a class="btn btn-primary btn-lg" href="/accounts/register/">Create account</a></p>
                    </div>
                    {% endblock content %}
