                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Site Groups</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <h2>Site Groups</h2>
                    
                    {% if not sitegroups %}
                        <p>No Site Groups defined. Go <a href="/sitegroups/add/">add one</a>!</p>
                    {% else %}
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Check Interval (h)</th>
                                    <th>Reporting</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sg in sitegroups %}
                                    <tr>
                                        <td>{{ sg.name }}</td>
                                        <td>{{ sg.interval_hours }} hours</td>
                                        <td>{{ sg.alert }}</td>
                                        <td>
                                            <a href="/sitegroups/edit/{{ sg.id }}/" class="btn btn-info">Edit</a>
                                            {% if sg.site_set.count == 0 %}
                                                <a href="/sitegroups/delete/{{ sg.id }}/" class="btn btn-danger">Delete</a>
                                            {% else %}
                                                <a href="/sites/group/{{ sg.id }}/" class="btn btn-info">Sites</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p><a href="/sitegroups/add/" class="btn btn-primary">Add New</a></p>
                    {% endif %}
                    {% endblock content %}
