                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Confirm SiteGroup Delete</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <h2>Confirm Delete</h2>
                    <p>Really delete the sitegroup {{ sg.name }} ?</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <a href="/sitegroups/" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endblock content %}
