                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Site Groups</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <h2>Site Groups</h2>                    
                    {% if not sitegroups %}
                        <p>No Site Groups defined. Go <a href="/sitegroups/add/">add one</a>!</p>
                    {% else %}
                        <p><a href="/sitegroups/add/" class="btn btn-primary">Add New</a></p>
                        <table class="table table-striped table-hover" style="font-size:larger; vertical-align:middle;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Check Interval</th>
                                    <th>Reporting</th>
                                    <th>Sites</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sg in sitegroups %}
                                    <tr>
                                        <td>{{ sg.name }}</td>
                                        <td>{{ sg.interval_hours }} hours</td>
                                        <td>{{ sg.alert }}</td>
                                        <td>{{ sg.sites.count }}</td>
                                        <td>
                                            <a href="/sitegroups/{{ sg.id }}/" class="btn btn-info">Details</a>
                                            <a href="/sitegroups/{{ sg.id }}/edit/" class="btn btn-info">Edit</a>
                                            {% if sg.site_set.count == 0 %}
                                                <a href="/sitegroups/{{ sg.id }}/delete/" class="btn btn-danger">Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% endblock content %}
