                    {% extends "skeleton.html" %}
                    
                    
                    {% block title %}
                    {% if request.user %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>sslscout account activated!</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                    {% if request.user %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        <h2>sslscout account activated!</h2>
                        <p>Your sslscout account has been activated, you may proceed to log in <a href="/accounts/login/">here</a>.</p>
                    {% endif %}
                    {% endblock content %}
