                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>sslscout account activated!</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <h2>sslscout account activated!</h2>
                    <p>Your sslscout account has been activated, you may proceed to log in <a href="/accounts/login/">here</a>.</p>
                    {% endblock content %}
