                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>activate sslscout account</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                    {% if user.is_authenticated %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        <h2>Activate sslscout Account</h2>
                        {% if account %}
                            <p>Your sslscout account has been activated, you may proceed to log in <a href="/accounts/login/">here</a>.</p>
                        {% else %}
                            <p>Activation link invalid, account not activated.</p>
                        {% endif %}
                    {% endif %}
                    {% endblock content %}