                    {% extends "skeleton.html" %}
                    
                    
                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>Password Reset</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                    {% if user.is_authenticated %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        {% if validlink %}
                            <form method="post" class="form-horizontal">
                                <fieldset>
                                    <legend>Choose New Password</legend>
                                    <p>Your password has been reset. Please choose a new password by entering it twice below:</p>
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_new_password1" class="col-lg-2 control-label">New Password:</label> {% if form.new_password1.errors %} <span class="error">{{ form.new_password1.errors|join:", " }}</span>{% endif %}
                                        <div class="col-lg-10">
                                            <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="New Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_new_password2" class="col-lg-2 control-label">New Password (again):</label> {% if form.new_password2.errors %} <span class="error">{{ form.new_password2.errors|join:", " }}</span>{% endif %}
                                        <div class="col-lg-10">
                                            <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="New Password (again)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary">Set Password</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        {% else %}
                            <h1>Password reset failed!</h1>
                            <p>The password reset link was invalid.</p>
                        {% endif %}
                    {% endif %}
                    {% endblock content %}
