                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>sslscout Password Reset Page</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <p>To reset your sslscout password please enter your email address below:</p>

                    <form method="post">
                        {{ csrf_token }}
                        <p><label for="id_email">E-mail:</label> {{ form.email }} {{ form.email.errors }}
                        <button type="submit" value="Reset password">Reset password</button></p>
                    </form>
                    {% endblock content %}
                    