                    {% extends "skeleton.html" %}

                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>sslscout password reset page</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        <p>To reset your sslscout password please enter your email address below:</p>

                        <form method="post">
                            {{ csrf_token }}
                            <p><label for="id_email">E-mail:</label> {{ form.email }} {{ form.email.errors }}
                            <button type="submit" class="btn btn-primary">Reset password</button></p>
                        </form>
                    {% endif %}
                    {% endblock content %}
