                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>Password Has Been Reset</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                    {% if user.is_authenticated %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        <p>Your password has been reset. Please check your email.</p>
                    {% endif %}
                    {% endblock content %}
