                    {% extends "skeleton.html" %}
                    
                    {% if request.user %}
                        {% block title %}
                        <title>Already logged in</title>
                        {% endblock title %}
                        
                        {% block content %}
                            <h2>Already logged in as {{ request.user }}</h2>
                            <p><a href="/accounts/profile/">Go to profile</a></p>
                        {% endblock content %}
                    {% else %}
                        {% block title %}
                        <title>Password Has Been Reset</title>
                        {% endblock title %}
                        
                        {% block content %}
                        <p>Your password has been reset. Please check your email.</p>
                        {% endblock content %}
                    {% endif %}