                    {% extends "skeleton.html" %}

                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>Password Reset Complete</title>
                    {% endif %}   
                    {% endblock title %}
                        
                    {% block content %}
                        <h2>Already logged in as {{ request.user }}</h2>
                        <p><a href="/accounts/profile/">Go to profile</a></p>
                    {% else %}
                        <p>sslscout Password reset is complete. You can now <a href="/accounts/login/">log in</a>.</p>
                    {% endif %}
                    {% endblock content %}
                    