                    {% extends "skeleton.html" %}

                    {% if request.user %}
                        {% block title %}
                        <title>Already logged in</title>
                        {% endblock title %}
                        
                        {% block content %}
                            <h2>Already logged in as {{ request.user }}</h2>
                            <p><a href="/accounts/profile/">Go to profile</a></p>
                        {% endblock content %}
                    {% else %}
                        {% block title %}
                        <title>sslscout Password Reset Page</title>
                        {% endblock title %}
                        
                        {% block content %}
                        <p>To reset your sslscout password please enter your email address below:</p>

                        <form method="post">
                            {{ csrf_token }}
                            <p><label for="id_email">E-mail:</label> {{ form.email }} {{ form.email.errors }}
                            <button type="submit" value="Reset password">Reset password</button></p>
                        </form>
                        {% endblock content %}
                    {% endif %}