                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    {% if user.is_authenticated %}
                        <title>Already logged in</title>
                    {% else %}
                        <title>Create Account</title>
                    {% endif %}
                    {% endblock title %}
                        
                    {% block content %}
                    <div class="col-lg-8">
                        {% if user.is_authenticated %}
                            <h2>Already logged in as {{ request.user }}</h2>
                            <p><a href="/accounts/profile/">Go to profile</a></p>
                        {% else %}
                            <form method="post" action="" class="form-horizontal">
                                <fieldset>
                                    <legend>Create Account</legend>

                                    {% if form.errors %}
                                        <ul id="messagelist">
                                            <p>The following form errors were found:</p>
                                            {% for error in form.errors %}
                                            <li class="error">{{ error }}</li>
                                            {% endfor %}
                                        </ul>                    
                                    {% endif %}


                                    {% csrf_token %}
                                    <p>Please fill out this form to create an sslscout account:</p>

                                    <div class="form-group">
                                        <label for="id_username" class="col-lg-2 control-label">Username:</label>
                                        <div class="col-lg-10">
                                            <input value="{{ form.username.value|default_if_none:"" }}" type="text" name="username" class="form-control" id="id_username" placeholder="Username">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_email" class="col-lg-2 control-label">E-Mail:</label>
                                        <div class="col-lg-10">
                                            <input value="{{ form.email.value|default_if_none:"" }}" type="email" name="email" class="form-control" id="id_email" placeholder="E-Mail">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_password1" class="col-lg-2 control-label">Password:</label> {% if form.password1.errors %} <span class="error">{{ form.password1.errors|join:", " }}</span>{% endif %}
                                        <div class="col-lg-10">
                                            <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_password2" class="col-lg-2 control-label">Password (again):</label> {% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}
                                        <div class="col-lg-10">
                                            <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Password (again)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary">Create Account</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        {% endif %}
                    </div>
                    {% endblock content %}
