                    {% extends "skeleton.html" %}
                    
                    {% block title %}
                    <title>Account Registration Complete</title>
                    {% endblock title %}
                    
                    {% block content %}
                    <h1>Account Registration Complete</h1>
                    <p>Your sslscout account has been registered but it has to be activated before you can log in to the site. Please check your email for further instructions.</p>
                    {% endblock content %}